<div id="announcement-container">
  
  <div id="section-1" class="section">
    <a href="/">
      <div class="side-by-side-images header-images">
        <img class="sm-img" src="/images/emoti-con-logo-blue-orange.png" alt="Emoti-Con logo" />
        <img class="sm-img" src="/images/pink-computer.gif" alt="A picture of a computer" />
      </div>
    </a>
    <h1 class="center lb-bg headline-secondary">
      A <span id="virtual-title" class="press-start pink">Virtual</span> Media & Technology Project Fair for NYC students!
    </h1>
  </div>

  <div id="section-2" class="section">
    
    
    <div class="rel-container">
      <img class="lg-img white-frame-border" src="/images/project-fair-photo.jpg" alt="A picture of a student preseting at a previous Emoti-Con" />
      <div class="sinking-text">
        <h2 class="lb-bg highlight bigger">
          Emoti-Con: From Live to Virtual
        </h2>
      </div>
    </div>
    
    <br/>
    <div>
      
      <p class="lg-bg highlight">
        For 12 years, Emoti-Con has been a live, in-person event with over 300 people at the New York Public Library each spring.
      </p>
      <p class="lg-bg highlight">
        But THIS YEAR, we are trying something different to keep everyone safe AND to make sure NYC’s teen innovators still have a space to celebrate and showcase your work!
      </p>

      <p class="pink-bg highlight">
        Read more about Emoti-Con 2020 and the Virtual Project Fair below! For more info about Emoti-Con, and a list of the judges check out <a href="https://emoti-con.org">Emoti-Con.org</a>.
      </p>
    </div>
    
  </div>

  <div id="apply-section" class="section">
    <h1 class="highlight lb-bg">Apply Now:</h1>
    
    <div class="centered-button-container">
      <div class="button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeWNVoEeA4rXW7B8IY3MtX1flIJjsuXCYOVuNMz79mdKpLoPA/viewform" target="blank"><h2>Emoti-Con Application Form</h2></a></div>
    </div>

    <h1 class="highlight lb-bg">Presentation About Emoti-Con & The Design Challenge Slides for Students</h1>

    <div class="centered-button-container">
      <div class="button"><a href="https://docs.google.com/presentation/d/1CYUzG-bqMta6FpauQwi4K1h6EiMKD9vbUNhVfgrN4D4/edit#slide=id.p" target="blank"><h2>Design Challenge Slides</h2></a></div>
    </div>


  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
    </ul>
  </div>
  
  <div id="section-3" class="section">
    <div class="section-title">
      <h2 class="lb-bg highlight">
        What happens at a Virtual Project Fair?  
      </h2>
    </div>
    <span class="spacer"></span>
    <p class="lg-bg highlight">
      At a *VIRTUAL* project fair:
    </p>
    <ul class="star-list">
      <li class="lg-bg highlight">
        You upload your project online using a Google Form.
      </li>
      <li class="lg-bg highlight">
        We create a webpage to display your project.
      </li>
      <li class="lg-bg highlight">
        There will be a 2 week remote Project Fair where 
  judges and peers will review your project online
  and leave feedback, ideas and emojis.👏👏👏👏
      </li>
    </ul>
    
  </div>


  <div class="section-divider">
    <ul>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
    </ul>
  </div>

  <div id="section-5" class="section">
     <div class="section-title">
      <h2 class="highlight lg-bg">Who can participate?</h2>
    </div>
      


    <ul class="dot-list">
      <li>
        <span class="highlight">
          Middle school, High school, or GED students, individuals or teams.
        </span>
      </li>
      <li>
        <span class="highlight">
          Public school students in the NYC metro region.
        </span>
      </li>
      <li>
        <span class="highlight">
          You must have an original idea, design or project to present.
        </span>
      </li>
    </ul>

    <div class="side-by-side-images">
      <img src="/images/attendees-1.jpg" />
      <img src="/images/attendees-2.jpg" />
    </div>

  </div>


  <div id="section-6" class="section">
    <div class="section-title">
      <h2 class="highlight lg-bg">What kinds of projects can I submit?</h2>
    </div>

    <ul class="star-list">
      <li class="pink-bg highlight close-list">📱 Coding Projects, Apps</li>
      <li class="pink-bg highlight close-list">🔬 Physical Computing</li>
      <li class="pink-bg highlight close-list">👾  Games</li>
      <li class="pink-bg highlight close-list">3D/CAD Prototypes</li>
      <li class="pink-bg highlight close-list">Videos, Podcasts, Music</li>
      <li class="pink-bg highlight close-list">Digital Art, VR/AR</li>
      <li class="pink-bg highlight close-list">Websites</li>
      <li class="pink-bg highlight close-list">Social action campaigns</li>
      <li class="pink-bg highlight close-list">Anything digital/tech!</li>
    </ul>


  </div>

  <div id="section-7" class="section lb-bg black-text">
    <div class="section-title">
      <h2 class="highlight">Important!</h2>
    </div>

    <ul class="dot-list">
      <li class="close-list black-text">
        <span class="highlight ">Emoti-Con is all about <span style="color: white; font-weight: bold">IDEAS</span>.</span>
      </li>
      <li class="close-list black-text">
        <span class="highlight ">Projects can be in <span style="font-weight: bold">any stage</span> of the design process.</span>
      </li>
      <li class="close-list black-text">
        <span class="highlight ">If you have a great IDEA for an invention, write it down, draw a picture of it, you don’t have to be able to code it or build it!</span>
      </li>
    </ul>

    <img src="/images/app-mockup.png" />
  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
    </ul>
  </div>


  <div id="section-8" class="section">
    <h3 class="pre-title">If you don’t already have a project you are working on...</h3>

    <div class="section-title">
      <h2 class="highlight lb-bg">Try the Emoti-Con 2020 Design Challenge</h2>
    </div>

    <div class="section-title">
      <h1 class="highlight lg-bg shout">Design something that helps us stay connected, happy and safe during an epidemic.</h1>
    </div>

    


    <ul class="star-list">
      <li class="pink-bg highlight close-list">Your idea could be an 📱 app, 🔬 tool, 💻 website, 🤖 robot, 🎺 song,        👾 game, 💡 invention, 🎤 podcast, 📦 product, 🗣 performance, 📝 other media.</li>
      <li class="pink-bg highlight close-list">You can submit your idea as a design or prototype - it doesn’t have to be a finished technical product!</li>
    </ul>

    <h1>To help you come up with an idea:</h1>

    <h2 class="pink-bg highlight">Think about all the recent changes in your home life, your school, around NYC and the world.</h2>

    <h2 class="lg-bg highlight">What new challenges or opportunities have you observed?</h2>


  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
    </ul>
  </div>

  <div id="section-9" class="section">
    <div class="section-title">
      <h2 class="highlight lb-bg">Preparing a Project to Submit</h2>
    </div>

    <h3 class="highlight">In May, you will fill out an form to submit your project. Be ready with these:</h3>

    <ul class="dot-list">
      <li><h2 class="highlight">Project Name</h2></li>
      <li>
        <h2 class="highlight">Project Description</h2>
        <ul>
          <li class="close-list"><span class="highlight">What challenge, issue, need does your project address?</span></li>
          <li class="close-list"><span class="highlight">Describe your design process, how did you come up with your idea and how has it evolved?</span></li>
          <li class="close-list"><span class="highlight">How does your project work or how would it work if you could develop it?</span></li>
        </ul>
      </li>
      <li>
        <h2 class="highlight">You will be able to upload any of the following to demo your project:</h2>
        <ul>
          <li class="close-list"><span class="highlight">Images/Drawings</span></li>
          <li class="close-list"><span class="highlight">Videos</span></li>
          <li class="close-list"><span class="highlight">Slides</span></li>
          <li class="close-list"><span class="highlight">Links</span></li>
          <li class="close-list"><span class="highlight">Audio</span></li>
          <li class="close-list"><span class="highlight">Docs</span></li>
        </ul>
      </li>

    </ul>

    <p class="highlight">Did you know you can show off  your design ideas without needing special, expensive materials.  You can make a lot using free apps online, your device and your imagination.  Here’s some free activities to help you make your idea come to life!</p>

    <div class="side-by-side-lists">
      <div class="left">
        <h2 class="lb-bg">Design Thinking & Prototyping</h2>
        <ul>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/1874" target="blank" class="highlight">Design is Everywhere (activity)</a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/5573" target="blank" class="highlight">Human-Centered Design (activity)</a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/8317" target="blank" class="highlight">Framing Questions (activity)</a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/8088" target="blank" class="highlight">Paper Prototyping (activity)</a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/8219" target="blank" class="highlight">Design Story - Documenting your Project (activity)</a></li>
        </ul>
      </div>

      <div class="right">

        <h2 class="lb-bg">I want to design a physical invention/product</h2>
        <ul>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/14082" target="blank" class="highlight">Make a 3D Model in Tinkercad (activity)</a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/9479" target="blank" class="highlight">Model something real in CAD with Sketchup (activity)</a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/9149" target="blank" class="highlight">Moving to the CAD world (activity)</a></li>
        </ul>

        <h2 class="lb-bg">I want to design an app:</h2>
        <ul>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/5667" target="blank" class="highlight">Design a Mobile App (activity)</a></li>
          <li class="pink-bg"i><a href="https://docs.google.com/presentation/d/18khHcDDYrVEa9AcBl4id3VWAndJpPGtYXOg03ABaepk/edit#slide=id.g72cbc873fa_0_1" target="blank" class="highlight">Make an app w/ Slides (slide template)</a></li>
        </ul>
      </div>

    </div>

    <div class="side-by-side-lists">
      <div class="left">
        <h2 class="lb-bg">I want to design a game:</h2>
        <ul>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/6210/step/1" target="blank" class="highlight">Intro to Game Design (activity)</a></li>
          <li class="pink-bg"i><a href="https://projects.mouse.org/project/10333/step/1" target="blank" class="highlight"Make a choose-your-own-adventure game in Twine (activity)></a></li>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/2768/step/1" target="blank" class="highlight">The Serious Gamer (activity)</a></li>
          <li class="pink-bg"i><a href="https://scratch.mit.edu/" target="blank" class="highlight">Scratch (free tool)</a></li>
        </ul>
      </div>

      <div class="right">
        <h2 class="lb-bg">I want to make a website </h2>
        <ul>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/18820/step/1" target="blank" class="highlight">Make a Simple Website with Glitch (activity & remixable template)</a></li>
        </ul>

        <h2 class="lb-bg">I want to make a video or animation</h2>
        <ul>
          <li class="pink-bg"><a href="https://projects.mouse.org/project/16730/step/1" target="blank" class="highlight">Drawing a Great Story (activity)</a></li>
          <li class="pink-bg"i><a href="https://projects.mouse.org/project/21211/step/1" target="blank" class="highlight">Stop Motion Animation 1 (activity)</a></li>
          <li class="pink-bg"i><a href="https://projects.mouse.org/project/21240/step/1" target="blank" class="highlight">Stop Motion Animation 2 (activity)</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
    </ul>
  </div>

  <div id="section-10" class="section">
    <div class="section-title">
      <h2 class="highlight pink-bg">Judging & Awards</h2>
    </div>

    <h1 class="highlight lg-bg shout">Judges from applied tech & media industries will review your ideas and share feedback and suggestions for college & career pathways.</h1>

    <img src="/images/judges.png" />
  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
    </ul>
  </div>

  <div id="section-11" class="section">
    <div class="section-title">
      <h2 class="highlight lb-bg black-text">5 Winning Projects selected by Judges:</h2>
    </div>

    <img src="/images/awards.png" />

    <ul class="dot-list">
      <li><span class="highlight">Most Social Impact: Makes meaningful change within a local or global community that it serves.</span></li> 
      <li><span class="highlight">Most Innovative: Combines creativity, ingenuity, and forward-thinking design or production.</span></li> 
      <li><span class="highlight">Point of View: Reframes issues, interactions, or experiences in a way that enlightens the audience.</span></li>
      <li><span class="highlight">Most Entertaining: Engages users in playful or artistic ways</span>.</span></li> 
      <li><span class="highlight">Best Pitch: Displays superior design documentation, storytelling, and project demonstration.</span></li>
    </ul>

    <div class="section-title">
      <h2 class="highlight lb-bg black-text">Winners will receive digital badges & certificates, fame & glory, and will be invited to present their winning project at the Emoti-Con table of the NYC CS Fair in October 2020.</h2>
    </div>

  </div>


  <div class="section-divider">
    <ul>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
    </ul>
  </div>

  <div id="section-12" class="section">
    <div class="section-title">
      <h1 class="highlight pink-bg">OK! READY?? START DESIGNING!</h1>
    </div>

    <div class="section-title">
      <h2 class="highlight lb-bg">Join the Emoti-List to get updates:</h2>
    </div>

    <p class="highlight">Email <a href="mailto: Emoticon@mouse.org" target="blank">Emoticon@mouse.org</a> to let us know you want to participate and we will email you the link to register your project in May!</p>

    
    <div class="section-title">
      <h2 class="highlight lb-bg">Stay in Touch</h2>
    </div>

    <img class="social-images" src="/images/social.gif" />

    <ul class="social-list">
      <li>
        <h2><a  class="highlight"href="https://twitter.com/EmotiCon_NYC" target="blank">Twitter</a></h2>
      </li>
      <li>
        <h2><a  class="highlight"href="https://www.instagram.com/emoticon_nyc/" target="blank">Instagram</a></h2>
      </li>
      <li>
        <h2><a  class="highlight"href="https://www.facebook.com/EmotiConNYC" target="blank">Facebook</a></h2>
      </li>  
    </ul>

    <div class="section-title">
      <h2 class="highlight">Emoti-Con, founded in 2009, is NYC's annual showcase for young designers, engineers, artists, gamers, programmers, activists and multimedia storytellers who believe in digital innovation as a tool for positive change in the world around them.</h2>
    </div>

    <p class="highlight">Emoti-Con is a culminating celebration of the creative work produced all year at the in- and after-school programs of the Hive NYC learning network, and at public schools participating in CS4ALL NYC and other DOE programs.</p>

    <p class="highlight">The event has been developed through a unique collaboration between NYC youth-serving organizations, including CS4ALL, Global Kids, Mouse, the New York Public Library, and Parsons The New School for Design.  
    </p>

    <p class="highlight">More Info: <a href="http://www.emoti-con.org" target="blank">www.emoti-con.org</a> | Email: <a href="mailto: Emoticon@mouse.org" target="blank">emoticon@mouse.org</a></p>


    <div class="section-title">
      <h2 class="highlight">Organized by:</h2>
    </div>

    <ul class="image-list">
      <li><img src="/images/emoti-con-logo-small-blue-grey.png"></li>
      <li><img src="/images/global-kids.png"></li>
      <li><img src="/images/mouse.png"></li>
      <li><img src="/images/parsons.png"></li>
      <li><img src="/images/nypl.png"></li>
      <li><img src="/images/csforall.png"></li>
    </ul>
    


     



  </div>
  
</div>


<!--

    <img src="/images/lion-statue.gif" alt="An animated cartooon of the lion statue outside of NYPL" />
    <img src="/images/pink-laptop.gif" alt="An animated cartoon of a pink laptop" />

-->