<div id="announcement-container">
  
  <div id="section-1" class="section">
    <div id="header-logo-container">
      <a href="/">
        <img id="header-logo" src="/images/emoti-con-header.gif" alt="Emoti-Con logo" />
      </a>
    </div>
    <h1 class="center lb-bg headline-secondary">
      A <span id="virtual-title" class="press-start pink">Virtual</span> Media & Technology Project Fair for NYC students!
    </h1>
  </div>
  
  <div id="nav-section" class="section">
    <div class="centered-button-container">
      <div class="button"><a href="/"><h2>All Projects & Keynote</h2></a></div>
      <div class="button"><a href="/projects/random"><h2>🎲 Random Project!</h2></a></div>
      <div class="button active-page-nav-button"><a href="/about"><h2>About Virtual Emoti-Con</h2></a></div>
    </div>
  </div>

  <div id="section-2" class="section">
    
    
    <div class="rel-container">
      <img class="lg-img white-frame-border" src="/images/project-fair-photo.jpg" alt="A picture of a student preseting at a previous Emoti-Con" />
      <div class="sinking-text">
        <h2 class="lb-bg highlight bigger">
          Emoti-Con: From Live to Virtual
        </h2>
      </div>
    </div>
    
    <br/>
    <div>
      
      <p class="lg-bg highlight">
        For 12 years, Emoti-Con has been a live, in-person event with over 300 people at the New York Public Library each spring.
      </p>
      <p class="lg-bg highlight">
        But THIS YEAR, we are trying something different to keep everyone safe AND to make sure NYC’s teen innovators still have a space to celebrate and showcase your work!
      </p>

      <p class="pink-bg highlight">
        Read more about Emoti-Con 2020 and the Virtual Project Fair below! For more info about Emoti-Con, and a list of the judges check out <a href="https://emoti-con.org">Emoti-Con.org</a>.
      </p>
    </div>
    
  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
      <li><img src="/images/purple-laptop.gif" /></li>
    </ul>
  </div>
  
  <div id="section-3" class="section">
    <div class="section-title">
      <h2 class="lb-bg highlight">
        What happens at a Virtual Project Fair?  
      </h2>
    </div>
    <span class="spacer"></span>
    <p class="lg-bg highlight">
      At a *VIRTUAL* project fair:
    </p>
    <ul class="star-list">
      <li class="lg-bg highlight">
        Students uploaded projects online.
      </li>
      <li class="lg-bg highlight">
        Emoti-Con created a webpage to display each project.
      </li>
      <li class="lg-bg highlight">
        The virtual project fair runs for 2 weeks where judges and peers review the projects online and leave feedback, ideas and emojis.👏👏👏👏
      </li>
    </ul>
    
  </div>


  <div class="section-divider">
    <ul>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
      <li><img src="/images/clapping.gif" /></li>
    </ul>
  </div>

  <div id="section-5" class="section">
     <div class="section-title">
      <h2 class="highlight lg-bg">Who are the students?</h2>
    </div>
      


    <ul class="dot-list">
      <li>
        <span class="highlight">
          Middle school, High school, or GED students, individuals or teams.
        </span>
      </li>
      <li>
        <span class="highlight">
          Public school students in the NYC metro region.
        </span>
      </li>
      <li>
        <span class="highlight">
          Students with an original idea, design or project to present.
        </span>
      </li>
    </ul>

    <div class="side-by-side-images">
      <img src="/images/attendees-1.jpg" />
      <img src="/images/attendees-2.jpg" />
    </div>

  </div>


  <div id="section-6" class="section">
    <div class="section-title">
      <h2 class="highlight lg-bg">What kinds of projects do students submit?</h2>
    </div>

    <ul class="star-list">
      <li class="pink-bg highlight close-list">📱 Coding Projects, Apps</li>
      <li class="pink-bg highlight close-list">🤖 Physical Computing</li>
      <li class="pink-bg highlight close-list">👾 Games</li>
      <li class="pink-bg highlight close-list">📦 3D/CAD Prototypes</li>
      <li class="pink-bg highlight close-list">🎤 Videos, Podcasts, Music</li>
      <li class="pink-bg highlight close-list">🎨 Digital Art, VR/AR</li>
      <li class="pink-bg highlight close-list">💻 Websites</li>
      <li class="pink-bg highlight close-list">📣 Social action campaigns</li>
      <li class="pink-bg highlight close-list">💡 Anything digital/tech!</li>
    </ul>


  </div>

  <div id="section-7" class="section lb-bg black-text">
    <div class="section-title">
      <h2 class="highlight">Important!</h2>
    </div>

    <ul class="dot-list">
      <li class="close-list black-text">
        <span class="highlight ">Emoti-Con is all about <span style="color: white; font-weight: bold">IDEAS</span>.</span>
      </li>
      <li class="close-list black-text">
        <span class="highlight ">Projects can be in <span style="font-weight: bold">any stage</span> of the design process.</span>
      </li>
      <li class="close-list black-text">
        <span class="highlight ">Students with great IDEAS for an invention will write them down or draw a picture of it, they don’t have to be able to code it or build it!</span>
      </li>
    </ul>

    <img src="/images/app-mockup.png" />
  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
      <li><img src="/images/star.gif" /></li>
    </ul>
  </div>


  <div id="section-8" class="section">

    <div class="section-title">
      <h1 class="highlight big-highlight lb-bg">The Emoti-Con 2020 Design Challenge</h1>
    </div>

    <div class="section-title">
      <h1 class="highlight lg-bg shout">Design something that helps us stay connected, happy and safe during an epidemic.</h1>
    </div>

    


    <ul class="star-list">
      <li class="pink-bg highlight close-list">Many students have created projects that respond to this year's Design Challenge.</li>
      <li class="pink-bg highlight close-list">Submissions can be a design or prototype - it doesn’t have to be a finished technical product!</li>
    </ul>

  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
      <li><img src="/images/peach-computer.gif" /></li>
    </ul>
  </div>

  

  <div class="section-divider">
    <ul>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
      <li><img src="/images/eyes.gif" /></li>
    </ul>
  </div>

  <div id="section-10" class="section">
    <div class="section-title">
      <h2 class="highlight pink-bg">Judging & Awards</h2>
    </div>

    <h1 class="highlight lg-bg shout">Judges from applied tech & media industries will review your ideas and share feedback and suggestions for college & career pathways.</h1>

    <img src="/images/judges.png" />
  </div>

  <div class="section-divider">
    <ul>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
      <li><img src="/images/handshake.gif" /></li>
    </ul>
  </div>

  <div id="section-11" class="section">
    <div class="section-title">
      <h2 class="highlight lb-bg black-text">5 Winning Projects selected by Judges:</h2>
    </div>

    <img src="/images/awards.png" />

    <ul class="dot-list">
      <li><span class="highlight"><strong>Most Social Impact:</strong> Makes meaningful change within a local or global community that it serves.</span></li> 
      <li><span class="highlight"><strong>Most Innovative:</strong> Combines creativity, ingenuity, and forward-thinking design or production.</span></li> 
      <li><span class="highlight"><strong>Point of View:</strong> Reframes issues, interactions, or experiences in a way that enlightens the audience.</span></li>
      <li><span class="highlight"><strong>Most Entertaining:</strong> Engages users in playful or artistic ways.</span></span></li> 
      <li><span class="highlight"><strong>Best Pitch:</strong> Displays superior design documentation, storytelling, and project demonstration.</span></li>
    </ul>

    <div class="section-title">
      <h2 class="highlight lb-bg black-text">Winners will receive digital badges & certificates, fame & glory, and will be invited to present their winning project at the Emoti-Con table of the NYC CS Fair in October 2020.</h2>
    </div>

  </div>


  <div class="section-divider">
    <ul>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
      <li><img src="/images/emoti-con-logo-small-blue-grey.png" /></li>
    </ul>
  </div>

  <div id="section-12" class="section">
    <div class="section-title">
       <h1 class="highlight pink-bg">Stay in Touch</h1>
    </div>
    
    
    <p class="highlight">To contact us, email <a href="mailto: Emoticon@mouse.org" target="blank">Emoticon@mouse.org</a> or follow us on social media.</p>

    <ul class="social-images">
      <a class="highlight"href="https://twitter.com/EmotiCon_NYC" target="blank"><img src="/images/twitter.gif" /></a>
      <a class="highlight"href="https://www.instagram.com/emoticon_nyc/" target="blank"><img src="/images/insta.gif" /></a>
      <a  class="highlight"href="https://www.facebook.com/EmotiConNYC" target="blank"><img src="/images/fb.gif" /></a>
    </ul>
    

    <ul class="social-list">
      <li>
        <h2><a class="highlight"href="https://twitter.com/EmotiCon_NYC" target="blank">Twitter</a></h2>
      </li>
      <li>
        <h2><a class="highlight"href="https://www.instagram.com/emoticon_nyc/" target="blank">Instagram</a></h2>
      </li>
      <li>
        <h2><a class="highlight"href="https://www.facebook.com/EmotiConNYC" target="blank">Facebook</a></h2>
      </li>  
    </ul>
    
    <div class="section-title">
      <h2 class="highlight lb-bg">More About Emoti-Con</h2>
    </div>

    <p class="highlight">Emoti-Con, founded in 2009, is NYC's annual showcase for young designers, engineers, artists, gamers, programmers, activists and multimedia storytellers who believe in digital innovation as a tool for positive change in the world around them.</p>

    <p class="highlight">Emoti-Con is a culminating celebration of the creative work produced all year at the in- and after-school programs of the Hive NYC learning network, and at public schools participating in CS4ALL NYC and other DOE programs.</p>

    <p class="highlight">The event has been developed through a unique collaboration between NYC youth-serving organizations, including CS4ALL, Global Kids, Mouse, the New York Public Library, and Parsons School for Design.  
    </p>

    <p class="highlight">More Info: <a href="http://www.emoti-con.org" target="blank">www.emoti-con.org</a> | Email: <a href="mailto: Emoticon@mouse.org" target="blank">emoticon@mouse.org</a></p>


  </div>
  
</div>