<div id="header-logo-container">
  <a href="/">
    <img id="header-logo" src="/images/emoti-con-header.gif" alt="Emoti-Con logo" />
  </a>
</div>

<div id="nav-section" class="section">
  <div class="centered-button-container">
    <div class="button"><a href="/"><h2>All Projects & Keynote</h2></a></div>
    <div class="button"><a href="/projects/random"><h2>🎲 Random Project!</h2></a></div>
    <div class="button"><a href="/about"><h2>About Virtual Emoti-Con</h2></a></div>
  </div>
</div>

<div id="error-page">
  <h1>
    Error
  </h1>

  <p>
    {{ error }}
  </p>

</div>