<div id="announcement-container">

  <div id="section-1" class="section">
    <a href="/">
      <div class="side-by-side-images header-images">
        <img class="med-img" src="/images/emoti-con-logo-blue-orange.png" alt="Emoti-Con logo" />
        <img class="med-img" src="/images/pink-computer.gif" alt="A picture of a computer" />
      </div>
    </a>
    <h1 class="center lb-bg headline">
      A <span id="virtual-title" class="press-start pink">Virtual</span> Media & Technology Project Fair for NYC students!
    </h1>
  </div>
  
  <div id="nav-section" class="section">
    <div class="centered-button-container">
      <div class="button"><a href="/about"><h2>Everything You Need to Know</h2></a></div>
      <div class="button"><a href="/submit-a-project"><h2>Submit a Project</h2></a></div>
    </div>
  </div>
  
  
  <div id="terms-container">
    <hr/>
    <p>
      <a href="https://docs.google.com/document/d/1T5HQSGVoCvWkKr-AW4h9cPus2YOyxWL5lD2l-EyCoPA/edit" target="blank">Emoti-Con Terms of Use and Privacy Policy</a>
    </p>
  </div>
  
</div>