<div id="announcement-container">

  <div id="section-1" class="section">
    <a href="/">
      <div class="side-by-side-images header-images">
        <img class="med-img" src="/images/emoti-con-logo-blue-orange.png" alt="Emoti-Con logo" />
        <img class="med-img" src="/images/pink-computer.gif" alt="A picture of a computer" />
      </div>
    </a>
    <h1 class="center lb-bg headline">
      A <span id="virtual-title" class="press-start pink">Virtual</span> Media & Technology Project Fair for NYC students!
    </h1>
  </div>
  
  <div id="section-4" class="section">
    
    <div class="centered-button-container">
      <div class="button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeWNVoEeA4rXW7B8IY3MtX1flIJjsuXCYOVuNMz79mdKpLoPA/viewform" target="blank"><h2>Submit a Project</h2></a></div>
      <div class="button"><a href="/about"><h2>About Emoti-Con</h2></a></div>
    </div>

    <div class="section-title">
      <h2 class="highlight lg-bg">IMPORTANT DATES & DEADLINES</h2>
    </div>

    <ul id="calendar-grid">
      <li>
        <ul>
          <li class="highlight pink-bg">5/1</li><!--
          --><li class="highlight pink-bg">Project submissions opens</li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="highlight pink-bg">5/22</li><!--
          --><li class="highlight pink-bg">Last day to submit a project</li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="highlight lg-bg">5/25</li><!--
          --><li class="highlight lg-bg">Virtual Project Fair & judging begins</li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="highlight pink-bg">6/5</li><!--
          --><li class="highlight pink-bg">Last day of Project Fair</li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="highlight pink-bg">6/10</li><!--
          --><li class="highlight pink-bg">Awards Ceremony! Winners Announced.</li>
        </ul>
      </li>
    </ul>

  </div>
  
  
  <div id="apply-section" class="section">
    <h1 class="highlight lb-bg">Apply Now:</h1>
    <h1 class="highlight lb-bg">Emoti-Con Resources</h1>

    <div class="centered-button-container">
      <div class="button"><a href="https://docs.google.com/presentation/d/1CYUzG-bqMta6FpauQwi4K1h6EiMKD9vbUNhVfgrN4D4/edit#slide=id.p" target="blank"><h2>About Emoti-Con & Design Challenge Slides</h2></a></div>

      <div class="button"><a href="https://docs.google.com/presentation/d/1-TV-31-x5Chd6VAIliH5Dae_cFgPh6KxXlY4cJWeLpo/edit#slide=id.g84504dbd8e_0_7" target="blank"><h2>Project Fair Slides Template</h2></a></div>

      <div class="button"><a href="https://docs.google.com/document/d/12g0ckTT4DwjqId_W4jx9tWR_USO_DoGkXfM79JJaefM/edit" target="blank"><h2>Worksheet to help with Application</h2></a></div>


      
    </div>

  </div>
  
</div>