
/* Project Fair */

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ariel", sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

#header, #content h2 {
  text-align: center; 
}

#menu {
  margin: 0;
  padding: 0;
  text-align: center;
}

#menu li {
  display: inline-block;
  margin: 0 1em;
}

#header-logo-container {
  text-align: center;
  width: 100%;
}

#header-logo-container img {
  width: 300px;
  margin: 0 auto;
}

#index-projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#index-projects-container::after {
  content: "";
  flex: auto;
}

.index-project {
  width: 310px;
  border: 2px solid #ffdae7;
  padding: 10px;
  margin: 1em 10px;
  border-radius: 10px;
}

.project-name {
  width: 100%;
  text-align: center;
  margin: .5em 0 .25em;
}

.project-name a {
  text-decoration: none;
  color: black;
}

.project-name a:hover {
  text-decoration: underline;
}

.project-header {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin: .25em 0;
}

.cover-image {
  width: 100%;
  margin: 1em 0 .5em;
}

.reaction h4 {
  display: inline-block;
  margin: 5px;
}

.reaction-button {
  background-color: none;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  outline:none;
}

.reaction-button:hover {
  cursor: pointer;
  background-color: #ffdae7;
}

a.project-link {
  text-decoration: underline;
  color: #4F4F4F;
}

.project-images {
  width: 100%;
}

.project-image {
  width: 100%;
  max-width: 280px;
  vertical-align: top;
  display: inline-block;
  padding: 5px;
  height: auto;
}

.project-image img {
  width: 100%;
  height: auto;
  display: inline-block
}

.judge-feedback-item, .public-feedback-item {
  border: 1px solid #4F4F4F;
  margin: 5px;
}

.public-feedback form > label, .public-feedback form > textarea, .public-feedback form > input {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}

.public-feedback form > textarea {
  height: 4em;
}

.public-feedback form > textarea, .public-feedback form > input {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
}


/* Project Content */

#project-content {
  max-width: 600px;
  margin: 1em auto;
  padding: 0 10px;
}


#project-content-header {
  text-align: center;
}

#project-content h2 {
  font-size: 2em;
}

#project-content p {
  line-height: 140%;
}